body{
    background: radial-gradient(ellipse at bottom,#022227 0%,#000000 100%);
    position: relative;
    height: 100vh;
    width: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

@keyframes shine {
    from{
        background-position: center 0;
    }
    to{
        background-position: center 200%;
    }
}

h1{
    margin: 0;
    font-family: "Monstserrat",sans-serif;
    font-size: 30vh;
    letter-spacing: 1vw;
    color:white;
    background: url(./pexels-sevenstorm-juhaszimrus-891030.jpg);
    background-size: auto 200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;

}
